<div class="container">
    <div class="row">
        <figure class="centered">
            <a href="https://media.giphy.com/media/WUq1cg9K7uzHa/giphy-downsized-large.gif?cid=ecf05e474s3hbfpxbb2nga1fxp24jpqdeya4yu9dnjvmuotz&rid=giphy-downsized-large.gif&ct=g" target=_blank>
                <img class="fullSize" src="https://media.giphy.com/media/WUq1cg9K7uzHa/giphy-downsized-large.gif?cid=ecf05e474s3hbfpxbb2nga1fxp24jpqdeya4yu9dnjvmuotz&rid=giphy-downsized-large.gif&ct=g" alt="Excited!">
            </a>
        </figure>
    </div>
</div>