<style>
    img.centered {
        display: block;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .row {
        width: 100%;
        display: flex;
    }
    
    .col {
        width: 46%;
    }
    
    .separator{
        width: 8%;
    }
    
    
    @media screen and ( max-width: 500px) {
        .row {
            flex-direction: column;
        }
        .col {
            width: 100%;
        }
        .separator {
            width: 0;
        }
    }
    
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <figure>
                <img class="centered" src="{{site.baseurl}}/assets/seven_sisters.jpeg" alt="Seven Sisters">
                <figcaption><i>The Chalk Cliffs of Seven Sisters(UK)</i></figcaption>
            </figure>
        </div>
        <div class="separator"></div>
        <div class="col">
            <figure>
                <img class="centered" src="{{site.baseurl}}/assets/machu_picchu.jpeg" alt="Machu Picchu">
                <figcaption><i>The Incan Citadel of Macchu Picchu(Peru)</i></figcaption>
            </figure>
        </div>
    </div>
</div>
