<div class="container">
    <div class="row">
        <div class="col">
            <figure>
                <img class="centered" src="{{site.baseurl}}/assets/seven_sisters.jpeg" alt="Seven Sisters">
                <figcaption><i>The Chalk Cliffs of Seven Sisters(UK)</i></figcaption>
            </figure>
        </div>
        <div class="separator"></div>
        <div class="col">
            <figure>
                <img class="centered" src="{{site.baseurl}}/assets/machu_picchu.jpeg" alt="Machu Picchu">
                <figcaption><i>The Incan Citadel of Macchu Picchu(Peru)</i></figcaption>
            </figure>
        </div>
    </div>
</div>
