<div class="container">
    <h1 class="page-heading">Welcome to my blog! </h1>
    <div class="row">
        <div class="col">
            <figure>
                <img class="face" src="assets/me_sunnies.jpeg" alt="That's me!">
                <figcaption><i>That's me! Hi, everyone!</i></figcaption>
            </figure>
        </div>
        <div class="separator"></div>
        <div class="col">
            <div class="page-content">
                <p>
                    Hey, I'm <a href="{{site.baseurl}}/about_me">Adelina</a>! I live in London and work as a Senior Software Engineer at 
                    <a href="https://cytora.com/" target="_blank">Cytora</a>.
                    <br />
                    <br />
                    This is my <a href="{{site.baseurl}}/blog">blog</a> - there are many like it, but this one is mine!  
                    I will post about: 
                    <ul>
                        <li>Neat stuff I learn about <a href="https://golang.org/" target="_blank">Go</a></li>
                        <li>Working in Tech in London </li>
                        <li>Being a woman in Tech </li>
                        <li>My general thoughts and musings</li>
                    </ul>
                    All views expressed here are mine alone and do not represent my employers. 
                </p>
            </div>
        </div>
    </div>

</div>