<style>
img.face {
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.row {
    width: 100%;
    display: flex;
}

.col {
    width: 46%;
}

.separator{
    width: 8%;
}


@media screen and ( max-width: 500px) {
    .row {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .separator {
        width: 0;
    }
}

</style>

<div class="container">
    <div class="row">
        <div class="col">
            <img class="face" src="assets/melted-icecream.jpeg" alt="That's me!">
        </div>
        <div class="separator"></div>
        <div class="col">
            <div>
                <h2>Welcome to my blog! </h2>
                <p>
                    I'm Adelina, currently living in London and working as a Senior Software Engineer at 
                    <a href="https://cytora.com/">Cytora</a>.
                    <br />
                    <br />
                    This is my blog/space - there are many like it, but this one is mine!<br />
                    <br />
                    I will post about: 
                    <ul>
                        <li>Neat stuff I learn about <a href="https://golang.org/">Go</a></li>
                        <li>Working in Tech in London </li>
                        <li>Being a woman in Tech </li>
                        <li>My general thoughts and musings</li>
                    </ul>
                    <h2>Thanks for stopping by!</h2>
                </p>
            </div>
        </div>
    </div>
</div>