<style>
    img.centered {
        display: block;
        width: 40%;
        margin: 0 auto;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .row {
        width: 100%;
        display: flex;
    }
    figcaption.imgcap {
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <figure>
            <img class="centered" src="{{site.baseurl}}/assets/london_bridge.jpg" alt="London">
            <figcaption class="imgcap"><i>One of my first pictures of London in 2014!</i></figcaption>
        </figure>
    </div>
</div>
