<style>
    * {
        box-sizing: border-box;
    }
</style>
<div class="container">
    <div class="formPopup" id="popupForm">
        <form class="formContainer" action="https://feedburner.google.com/fb/a/mailverify" 
        method="post" target="popupwindow" 
        onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=adelinasimion', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <div class="subscribe-text">
                Get new posts to your inbox!
            </div>
            <input type="text" name="email" placeholder="example@gmail.com"/>
            <input type="hidden" value="AdelinaSimion" name="uri"/>
            <input type="hidden" name="loc" value="en_US"/>
            <button type="submit" class="btn">Subscribe</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
            <div class="subscribe-text">
                <i>
                    Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a>
                </i>
            </div>
        </form>
    </div>
</div>
<script>
    function closeForm() {
        window.close()
    }
</script>