<style>
    * {
        box-sizing: border-box;
    }
</style>
<div class="container">
    <div class="formPopup" id="popupForm">
        <form class="formContainer" action='https://www.feedio.co/@adelinasimion/verify' id='subscribe_widget_adelinasimion' method='post' target='popupwindow'>
            <div class="subscribe-text">
                Get new posts to your inbox!
            </div>
            <input type="text" name="email" placeholder="example@gmail.com"/>
            <input type="hidden" value="AdelinaSimion" name="uri"/>
            <input type="hidden" name="loc" value="en_US"/>
            <button type="submit" class="btn">Subscribe</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
            <div class="subscribe-text">
                <i>
                    Powered by <a href='http://www.feedio.co?utm_source=adelinasimion_site&utm_medium=widget&utm_campaign=powered_by_feedio_html_email_widget'>Feedio</a>
                </i>
            </div>
        </form>
    </div>
</div>
<script>
    function closeForm() {
        window.close()
    }
</script>