<div class="row">
  <div class="col">
    <div class="talks-title">Future of Code Week: Will Languages Like Go and Rust Overtake their Legacy?</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/M7cqWX83yTM" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="separator"></div>
  <div class="col">
    <div class="talks-title">eBPF Summit 2022: Multi-cluster networking with Cilium at Form3</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/vKgRf4OzTIE" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="talks-title">ContainerDays 2022: Call me maybe - communication between microservices</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/tEqBF-j8byQ" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="separator"></div>
  <div class="col">
    <div class="talks-title">ContainerDays 2022: Cloud confused - differences between public cloud vendors</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/aaqpcZVJPNM" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="talks-title">Ardan Labs Podcast: LinkedIn Learning, Interviewing, & Adding Skills </div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/zJQYdOwF1uk" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="separator"></div>
  <div class="col">
    <div class="talks-title">Together, We Open Source: GopherTale, an introduction to Golang</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/B1UP16OJpys" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="talks-title">KubeCon EU 2022: Choosing Cloud Native Technologies for the Journey to Multi-cloud </div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/NGuiizWUuaw" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="separator"></div>
  <div class="col">
    <div class="talks-title">GitOpsCon EU 2022: Solving Environment Promotion with Flux</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/gqs4mVppn1Q" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="talks-title">Devoxx UK 2022: Choosing Cloud Native Technologies for the Journey to Multi-cloud </div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/fGbWgo6p0XQ" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="separator"></div>
  <div class="col">
    <div class="talks-title">Conf42 Golang 2022: Load testing with F1 (Keynote)</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/yKJ_h0K6liM" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="talks-title">Eddie Jaoude: Tech and it's many opportunities (Tech Stories)</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/5w9kIy4xuxM" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="separator"></div>
  <div class="col">
    <div class="talks-title">Conf42 DevSecOps 2021: Building our own custom Code Insight tool (Keynote)</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/UvOdp38QVMs" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="talks-title">GopherCon UK 2021: Using NATS for multi-cloud event streaming</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/AhnL5addsVo" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="separator"></div>
  <div class="col">
    <div class="talks-title">GopherCon EU 2021: Best Friends Forever (BFFs): Lambda and Go Apps</div>
    <div class="talks-video-container">
      <iframe src="https://www.youtube.com/embed/FJL7RXAIJzk" title="YouTube video player" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>